/* Color Theme Swatches in Hex */
$bank-1: #3d1673;
$bank-2: #311459;
$bank-3: #160a40;
$bank-4: #041026;
$bank-5: #f2f2f2;
$bank-6: #77787c;
$bank-white: #fff;
$bank-gradient: linear-gradient(
  90deg,
  rgba(20, 9, 40, 1) 0%,
  rgba(37, 19, 70, 1) 40%,
  rgba(145, 0, 255, 1) 100%
);
$bank-border-gradient: linear-gradient(
  90deg,
  rgba(131, 58, 180, 1) 0%,
  rgba(22, 10, 64, 1) 50%,
  rgba(252, 176, 69, 1) 100%
);

// Fonts
$primary: "Cairo", sans-serif;
$secondary: "Saira Condensed", sans-serif;
$extra: "Zen Kurenaido", sans-serif;
