/* Color Theme Swatches in Hex */
$bank-1: #3D1673;
$bank-2: #311459;
$bank-3: #160A40;
$bank-4: #041026;
$bank-5: #F2F2F2;
$bank-6: #77787c;
$bank-white: #fff;

// Fonts
$primary: 'Cairo', sans-serif;
$secondary: 'Saira Condensed', sans-serif;
$extra: 'Zen Kurenaido', sans-serif;

