@import "./../../../../styles/global";

app-extrato {
  display: flex;
  justify-content: center;
}

.container {
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $primary;
    text-align: center;

    a {
      text-decoration: none;
      color: $bank-white;
    }

    img {
      width: 3vw;
      height: fit-content;
      margin-right: 1.5rem;

      @media screen and (max-width: 980px) {
        width: 11vw;
        height: auto;
      }
    }
  }
}

.table {
  width: 25vw;
  height: auto;
  padding: 10px 29px;
  margin-top: 2rem;
  background-color: $bank-3;
  border-radius: 10px;
  box-shadow: 0 15px 19px 0;
  font-family: $primary;
  text-align: center;

  @media screen and (max-width: 980px) {
    width: 90vw;
    padding: 10px;
  }

  &__title {
    color: $bank-6;
    font-family: $primary;
    letter-spacing: 0.3rem;
    text-align: center;
  }

  &__head {
    display: flex;
    justify-content: space-between;

    &__content {
      color: $bank-white;
      font-weight: 500;
      letter-spacing: 0.1rem;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &__content {
      color: $bank-6;
      font-size: smaller;
    }
  }
}

p {
  color: $bank-6;
}

.back {
  display: flex;
  justify-content: flex-end;

  img {
    width: 2vw;
    height: fit-content;
    margin-top: 1.5rem;

    @media screen and (max-width: 980px) {
      width: 8vw;
      height: auto;
    }
  }

  a {
    text-decoration: none;
  }
}
