@import "./../../../styles/global";

.container {
  width: 25vw;
  height: auto;
  padding: 10px 29px;
  margin-top: 2rem;
  background-color: $bank-3;
  border-radius: 10px;
  box-shadow: 0 15px 19px 0;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $primary;
    text-align: center;

    a {
      text-decoration: none;
      color: $bank-white;
    }

    img {
      width: 3vw;
      height: fit-content;
      margin-right: 1.5rem;

      @media screen and (max-width: 980px) {
        width: 11vw;
        height: auto;
      }
    }
  }

  @media screen and (max-width: 980px) {
    width: auto;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__title {
    color: $bank-6;
    font-family: $primary;
    letter-spacing: 0.3rem;
    text-align: center;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;

  &__label {
    color: $bank-5;
    font-family: $primary;
  }

  &__input {
    height: 1.5rem;
    border-radius: 4px;
    outline: none;
    border: inherit;
  }

  ::placeholder {
    font-family: $primary;
    font-size: 12px;
  }
}

.button-wraper {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  button {
    width: 9vw;
    height: 6vh;
    background: $bank-gradient;
    color: $bank-white;
    border: inherit;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: x-small;
    letter-spacing: 2px;
    cursor: pointer;

    &:hover,
    :focus {
      opacity: 0.6;
    }

    @media screen and (max-width: 980px) {
      width: auto;
    }
  }
}
