@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&family=Saira+Condensed:wght@200;400;700&family=Zen+Kurenaido&display=swap');

body{
  display: flex;
  justify-content: center;
}
